<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<string>BEIJING</string>
	<key>上海</key>
	<string>SHANGHAI</string>
	<key>天津</key>
	<string>TIANJIN</string>
	<key>重庆</key>
	<string>CHONGQING</string>
	<key>阿克苏</key>
	<string>AKESU</string>
	<key>安宁</key>
	<string>ANNING</string>
	<key>安庆</key>
	<string>ANQING</string>
	<key>鞍山</key>
	<string>ANSHAN</string>
	<key>安顺</key>
	<string>ANSHUN</string>
	<key>安阳</key>
	<string>ANYANG</string>
	<key>白城</key>
	<string>BAICHENG</string>
	<key>白山</key>
	<string>BAISHAN</string>
	<key>白银</key>
	<string>BAIYIN</string>
	<key>蚌埠</key>
	<string>BENGBU</string>
	<key>保定</key>
	<string>BAODING</string>
	<key>宝鸡</key>
	<string>BAOJI</string>
	<key>保山</key>
	<string>BAOSHAN</string>
	<key>巴中</key>
	<string>BAZHONG</string>
	<key>北海</key>
	<string>BEIHAI</string>
	<key>本溪</key>
	<string>BENXI</string>
	<key>滨州</key>
	<string>BINZHOU</string>
	<key>博乐</key>
	<string>BOLE</string>
	<key>亳州</key>
	<string>BOZHOU</string>
	<key>沧州</key>
	<string>CANGZHOU</string>
	<key>常德</key>
	<string>CHANGDE</string>
	<key>昌吉</key>
	<string>CHANGJI</string>
	<key>常熟</key>
	<string>CHANGSHU</string>
	<key>常州</key>
	<string>CHANGZHOU</string>
	<key>巢湖</key>
	<string>CHAOHU</string>
	<key>朝阳</key>
	<string>CHAOYANG</string>
	<key>潮州</key>
	<string>CHAOZHOU</string>
	<key>承德</key>
	<string>CHENGDE</string>
	<key>成都</key>
	<string>CHENGDU</string>
	<key>城固</key>
	<string>CHENGGU</string>
	<key>郴州</key>
	<string>CHENGZHOU</string>
	<key>赤壁</key>
	<string>CHIBI</string>
	<key>赤水</key>
	<string>CHISHUI</string>
	<key>池州</key>
	<string>CHIZHOU</string>
	<key>崇左</key>
	<string>CHONGZUO</string>
	<key>楚雄</key>
	<string>CHUXIONG</string>
	<key>滁州</key>
	<string>CHUZHOU</string>
	<key>慈溪</key>
	<string>CIXI</string>
	<key>从化</key>
	<string>CONGHUA</string>
	<key>大理</key>
	<string>DALI</string>
	<key>大连</key>
	<string>DALIAN</string>
	<key>丹东</key>
	<string>DANDONG</string>
	<key>丹阳</key>
	<string>DANYANG</string>
	<key>大庆</key>
	<string>DAQING</string>
	<key>大同</key>
	<string>DATONG</string>
	<key>达州</key>
	<string>DAZHOU</string>
	<key>德阳</key>
	<string>DEYANG</string>
	<key>德州</key>
	<string>DEZHOU</string>
	<key>东莞</key>
	<string>DONGGUAN</string>
	<key>东阳</key>
	<string>DONGYANG</string>
	<key>东营</key>
	<string>DONGYING</string>
	<key>都匀</key>
	<string>DOUYUN</string>
	<key>敦化</key>
	<string>DUNHUA</string>
	<key>鄂尔多斯</key>
	<string>EERDUOSI</string>
	<key>恩施</key>
	<string>ENSHI</string>
	<key>防城港</key>
	<string>FANGCHENGGANG</string>
	<key>肥城</key>
	<string>FEICHENG</string>
	<key>奉化</key>
	<string>FENGHUA</string>
	<key>抚顺</key>
	<string>FUSHUN</string>
	<key>阜新</key>
	<string>FUXIN</string>
	<key>阜阳</key>
	<string>FUYANG</string>
	<key>富阳</key>
	<string>FUYANG1</string>
	<key>福州</key>
	<string>FUZHOU</string>
	<key>抚州</key>
	<string>FUZHOU1</string>
	<key>赣榆</key>
	<string>GANYU</string>
	<key>赣州</key>
	<string>GANZHOU</string>
	<key>高明</key>
	<string>GAOMING</string>
	<key>高邮</key>
	<string>GAOYOU</string>
	<key>格尔木</key>
	<string>GEERMU</string>
	<key>个旧</key>
	<string>GEJIU</string>
	<key>巩义</key>
	<string>GONGYI</string>
	<key>广安</key>
	<string>GUANGAN</string>
	<key>广元</key>
	<string>GUANGYUAN</string>
	<key>广州</key>
	<string>GUANGZHOU</string>
	<key>古包头</key>
	<string>GUBAOTOU</string>
	<key>贵港</key>
	<string>GUIGANG</string>
	<key>桂林</key>
	<string>GUILIN</string>
	<key>贵阳</key>
	<string>GUIYANG</string>
	<key>固原</key>
	<string>GUYUAN</string>
	<key>哈尔滨</key>
	<string>HAERBIN</string>
	<key>海城</key>
	<string>HAICHENG</string>
	<key>海口</key>
	<string>HAIKOU</string>
	<key>海门</key>
	<string>HAIMEN</string>
	<key>海宁</key>
	<string>HAINING</string>
	<key>哈密</key>
	<string>HAMI</string>
	<key>邯郸</key>
	<string>HANDAN</string>
	<key>杭州</key>
	<string>HANGZHOU</string>
	<key>汉中</key>
	<string>HANZHONG</string>
	<key>鹤壁</key>
	<string>HEBI</string>
	<key>合肥</key>
	<string>HEFEI</string>
	<key>衡水</key>
	<string>HENGSHUI</string>
	<key>衡阳</key>
	<string>HENGYANG</string>
	<key>和田</key>
	<string>HETIAN</string>
	<key>河源</key>
	<string>HEYUAN</string>
	<key>菏泽</key>
	<string>HEZE</string>
	<key>花都</key>
	<string>HUADOU</string>
	<key>淮安</key>
	<string>HUAIAN</string>
	<key>淮北</key>
	<string>HUAIBEI</string>
	<key>怀化</key>
	<string>HUAIHUA</string>
	<key>淮南</key>
	<string>HUAINAN</string>
	<key>黄冈</key>
	<string>HUANGGANG</string>
	<key>黄山</key>
	<string>HUANGSHAN</string>
	<key>黄石</key>
	<string>HUANGSHI</string>
	<key>呼和浩特</key>
	<string>HUHEHAOTE</string>
	<key>惠州</key>
	<string>HUIZHOU</string>
	<key>葫芦岛</key>
	<string>HULUDAO</string>
	<key>湖州</key>
	<string>HUZHOU</string>
	<key>佳木斯</key>
	<string>JIAMUSI</string>
	<key>吉安</key>
	<string>JIAN</string>
	<key>江都</key>
	<string>JIANGDOU</string>
	<key>江门</key>
	<string>JIANGMEN</string>
	<key>江阴</key>
	<string>JIANGYIN</string>
	<key>胶南</key>
	<string>JIAONAN</string>
	<key>胶州</key>
	<string>JIAOZHOU</string>
	<key>焦作</key>
	<string>JIAOZUO</string>
	<key>嘉善</key>
	<string>JIASHAN</string>
	<key>嘉兴</key>
	<string>JIAXING</string>
	<key>介休</key>
	<string>JIEXIU</string>
	<key>吉林</key>
	<string>JILIN</string>
	<key>即墨</key>
	<string>JIMO</string>
	<key>济南</key>
	<string>JINAN</string>
	<key>晋城</key>
	<string>JINCHENG</string>
	<key>景德镇</key>
	<string>JINGDEZHEN</string>
	<key>景洪</key>
	<string>JINGHONG</string>
	<key>靖江</key>
	<string>JINGJIANG</string>
	<key>荆门</key>
	<string>JINGMEN</string>
	<key>荆州</key>
	<string>JINGZHOU</string>
	<key>金华</key>
	<string>JINHUA</string>
	<key>集宁</key>
	<string>JINING1</string>
	<key>济宁</key>
	<string>JINING</string>
	<key>晋江</key>
	<string>JINJIANG</string>
	<key>金坛</key>
	<string>JINTAN</string>
	<key>晋中</key>
	<string>JINZHONG</string>
	<key>锦州</key>
	<string>JINZHOU</string>
	<key>吉首</key>
	<string>JISHOU</string>
	<key>九江</key>
	<string>JIUJIANG</string>
	<key>酒泉</key>
	<string>JIUQUAN</string>
	<key>鸡西</key>
	<string>JIXI</string>
	<key>济源</key>
	<string>JIYUAN</string>
	<key>句容</key>
	<string>JURONG</string>
	<key>开封</key>
	<string>KAIFENG</string>
	<key>凯里</key>
	<string>KAILI</string>
	<key>开平</key>
	<string>KAIPING</string>
	<key>开远</key>
	<string>KAIYUAN</string>
	<key>喀什</key>
	<string>KASHEN</string>
	<key>克拉玛依</key>
	<string>KELAMAYI</string>
	<key>库尔勒</key>
	<string>KUERLE</string>
	<key>奎屯</key>
	<string>KUITUN</string>
	<key>昆明</key>
	<string>KUNMING</string>
	<key>昆山</key>
	<string>KUNSHAN</string>
	<key>来宾</key>
	<string>LAIBIN</string>
	<key>莱芜</key>
	<string>LAIWU</string>
	<key>莱西</key>
	<string>LAIXI</string>
	<key>莱州</key>
	<string>LAIZHOU</string>
	<key>廊坊</key>
	<string>LANGFANG</string>
	<key>兰州</key>
	<string>LANZHOU</string>
	<key>拉萨</key>
	<string>LASA</string>
	<key>乐山</key>
	<string>LESHAN</string>
	<key>连云港</key>
	<string>LIANYUNGANG</string>
	<key>聊城</key>
	<string>LIAOCHENG</string>
	<key>辽阳</key>
	<string>LIAOYANG</string>
	<key>辽源</key>
	<string>LIAOYUAN</string>
	<key>丽江</key>
	<string>LIJIANG</string>
	<key>临安</key>
	<string>LINAN</string>
	<key>临沧</key>
	<string>LINCANG</string>
	<key>临汾</key>
	<string>LINFEN</string>
	<key>灵宝</key>
	<string>LINGBAO</string>
	<key>临河</key>
	<string>LINGHE</string>
	<key>临夏</key>
	<string>LINXIA</string>
	<key>临沂</key>
	<string>LINYI</string>
	<key>丽水</key>
	<string>LISHUI</string>
	<key>六安</key>
	<string>LIUAN</string>
	<key>六盘水</key>
	<string>LIUPANSHUI</string>
	<key>柳州</key>
	<string>LIUZHOU</string>
	<key>溧阳</key>
	<string>LIYANG</string>
	<key>龙海</key>
	<string>LONGHAI</string>
	<key>龙岩</key>
	<string>LONGYAN</string>
	<key>娄底</key>
	<string>LOUDI</string>
	<key>漯河</key>
	<string>LUOHE</string>
	<key>洛阳</key>
	<string>LUOYANG</string>
	<key>潞西</key>
	<string>LUXI</string>
	<key>泸州</key>
	<string>LUZHOU</string>
	<key>吕梁</key>
	<string>LVLIANG</string>
	<key>旅顺</key>
	<string>LVSHUN</string>
	<key>马鞍山</key>
	<string>MAANSHAN</string>
	<key>茂名</key>
	<string>MAOMING</string>
	<key>梅河口</key>
	<string>MEHEKOU</string>
	<key>眉山</key>
	<string>MEISHAN</string>
	<key>梅州</key>
	<string>MEIZHOU</string>
	<key>勉县</key>
	<string>MIANXIAN</string>
	<key>绵阳</key>
	<string>MIANYANG</string>
	<key>牡丹江</key>
	<string>MUDANJIANG</string>
	<key>南安</key>
	<string>NANAN</string>
	<key>南昌</key>
	<string>NANCHANG</string>
	<key>南充</key>
	<string>NANCHONG</string>
	<key>南京</key>
	<string>NANJING</string>
	<key>南宁</key>
	<string>NANNING</string>
	<key>南平</key>
	<string>NANPING</string>
	<key>南通</key>
	<string>NANTONG</string>
	<key>内江</key>
	<string>NEIJIANG</string>
	<key>宁波</key>
	<string>NINGBO</string>
	<key>宁德</key>
	<string>NINGDE</string>
	<key>盘锦</key>
	<string>PANJIN</string>
	<key>攀枝花</key>
	<string>PANZHIHUA</string>
	<key>蓬莱</key>
	<string>PENGLAI</string>
	<key>平顶山</key>
	<string>PINGDINGSHAN</string>
	<key>平度</key>
	<string>PINGDU</string>
	<key>平湖</key>
	<string>PINGHU</string>
	<key>平凉</key>
	<string>PINGLIANG</string>
	<key>萍乡</key>
	<string>PINGXIANG</string>
	<key>普兰店</key>
	<string>PULANDIAN</string>
	<key>普宁</key>
	<string>PUNING</string>
	<key>莆田</key>
	<string>PUTIAN</string>
	<key>濮阳</key>
	<string>PUYANG</string>
	<key>黔南</key>
	<string>QIANNAN</string>
	<key>启东</key>
	<string>QIDONG</string>
	<key>青岛</key>
	<string>QINGDAO</string>
	<key>庆阳</key>
	<string>QINGYANG</string>
	<key>清远</key>
	<string>QINGYUAN</string>
	<key>青州</key>
	<string>QINGZHOU</string>
	<key>秦皇岛</key>
	<string>QINHUANGDAO</string>
	<key>钦州</key>
	<string>QINZHOU</string>
	<key>琼海</key>
	<string>QIONGHAI</string>
	<key>齐齐哈尔</key>
	<string>QIQIHAER</string>
	<key>泉州</key>
	<string>QUANZHOU</string>
	<key>曲靖</key>
	<string>QUJING</string>
	<key>衢州</key>
	<string>QUZHOU</string>
	<key>日喀则</key>
	<string>RIKAZE</string>
	<key>日照</key>
	<string>RIZHAO</string>
	<key>荣成</key>
	<string>RONGCHENG</string>
	<key>如皋</key>
	<string>RUGAO</string>
	<key>瑞安</key>
	<string>RUIAN</string>
	<key>乳山</key>
	<string>RUSHAN</string>
	<key>三门峡</key>
	<string>SANMENXIA</string>
	<key>三明</key>
	<string>SANMING</string>
	<key>三亚</key>
	<string>SANYA</string>
	<key>厦门</key>
	<string>XIAMEN</string>
	<key>佛山</key>
	<string>FOSHAN</string>
	<key>商洛</key>
	<string>SHANGLUO</string>
	<key>商丘</key>
	<string>SHANGQIU</string>
	<key>上饶</key>
	<string>SHANGRAO</string>
	<key>上虞</key>
	<string>SHANGYU</string>
	<key>汕头</key>
	<string>SHANTOU</string>
	<key>安康</key>
	<string>ANKANG</string>
	<key>韶关</key>
	<string>SHAOGUAN</string>
	<key>绍兴</key>
	<string>SHAOXING</string>
	<key>邵阳</key>
	<string>SHAOYANG</string>
	<key>深圳</key>
	<string>SHENZHEN</string>
	<key>石河子</key>
	<string>SHIHEZI</string>
	<key>石家庄</key>
	<string>SHIJIAZHUANG</string>
	<key>石林</key>
	<string>SHILIN</string>
	<key>石狮</key>
	<string>SHISHI</string>
	<key>十堰</key>
	<string>SHIYAN</string>
	<key>寿光</key>
	<string>SHOUGUANG</string>
	<key>双鸭山</key>
	<string>SHUANGYASHAN</string>
	<key>朔州</key>
	<string>SHUOZHOU</string>
	<key>沭阳</key>
	<string>SHUYANG</string>
	<key>思茅</key>
	<string>SIMAO</string>
	<key>四平</key>
	<string>SIPING</string>
	<key>松原</key>
	<string>SONGYUAN</string>
	<key>遂宁</key>
	<string>SUINING</string>
	<key>随州</key>
	<string>SUIZHOU</string>
	<key>苏州</key>
	<string>SUZHOU</string>
	<key>塔城</key>
	<string>TACHENG</string>
	<key>泰安</key>
	<string>TAIAN</string>
	<key>太仓</key>
	<string>TAICANG</string>
	<key>泰兴</key>
	<string>TAIXING</string>
	<key>太原</key>
	<string>TAIYUAN</string>
	<key>泰州</key>
	<string>TAIZHOU</string>
	<key>台州</key>
	<string>TAIZHOU1</string>
	<key>唐山</key>
	<string>TANGSHAN</string>
	<key>腾冲</key>
	<string>TENGCHONG</string>
	<key>滕州</key>
	<string>TENGZHOU</string>
	<key>天门</key>
	<string>TIANMEN</string>
	<key>天水</key>
	<string>TIANSHUI</string>
	<key>铁岭</key>
	<string>TIELING</string>
	<key>铜川</key>
	<string>TONGCHUAN</string>
	<key>通辽</key>
	<string>TONGLIAO</string>
	<key>铜陵</key>
	<string>TONGLING</string>
	<key>桐庐</key>
	<string>TONGLU</string>
	<key>铜仁</key>
	<string>TONGREN</string>
	<key>桐乡</key>
	<string>TONGXIANG</string>
	<key>通州</key>
	<string>TONGZHOU</string>
	<key>通化</key>
	<string>TONGHUA</string>
	<key>吐鲁番</key>
	<string>TULUFAN</string>
	<key>瓦房店</key>
	<string>WAFANGDIAN</string>
	<key>潍坊</key>
	<string>WEIFANG</string>
	<key>威海</key>
	<string>WEIHAI</string>
	<key>渭南</key>
	<string>WEINAN</string>
	<key>文登</key>
	<string>WENDENG</string>
	<key>温岭</key>
	<string>WENLING</string>
	<key>温州</key>
	<string>WENZHOU</string>
	<key>乌海</key>
	<string>WUHAI</string>
	<key>武汉</key>
	<string>WUHAN</string>
	<key>芜湖</key>
	<string>WUHU</string>
	<key>吴江</key>
	<string>WUJIANG</string>
	<key>乌兰浩特</key>
	<string>WULANHAOTE</string>
	<key>武威</key>
	<string>WUWEI</string>
	<key>无锡</key>
	<string>WUXI</string>
	<key>梧州</key>
	<string>WUZHOU</string>
	<key>西安</key>
	<string>XIAN</string>
	<key>项城</key>
	<string>XIANGCHENG</string>
	<key>襄樊</key>
	<string>XIANGFAN</string>
	<key>香格里拉</key>
	<string>XIANGGELILA</string>
	<key>象山</key>
	<string>XIANGSHAN</string>
	<key>湘潭</key>
	<string>XIANGTAN</string>
	<key>湘乡</key>
	<string>XIANGXIANG</string>
	<key>咸宁</key>
	<string>XIANNING</string>
	<key>仙桃</key>
	<string>XIANTAO</string>
	<key>咸阳</key>
	<string>XIANYANG</string>
	<key>西藏</key>
	<string>XIZANG</string>
	<key>西昌</key>
	<string>XICHANG</string>
	<key>邢台</key>
	<string>XINGTAI</string>
	<key>兴义</key>
	<string>XINGYI</string>
	<key>西宁</key>
	<string>XINING</string>
	<key>新乡</key>
	<string>XINXIANG</string>
	<key>信阳</key>
	<string>XINYANG</string>
	<key>新余</key>
	<string>XINYU</string>
	<key>忻州</key>
	<string>XINZHOU</string>
	<key>宿迁</key>
	<string>SUQIAN</string>
	<key>宿豫</key>
	<string>SUYU</string>
	<key>宿州</key>
	<string>SUZHOU</string>
	<key>宣城</key>
	<string>XUANCHENG</string>
	<key>许昌</key>
	<string>XUCHANG</string>
	<key>徐州</key>
	<string>XUZHOU</string>
	<key>雅安</key>
	<string>YAAN</string>
	<key>牙克石</key>
	<string>YAKESHI</string>
	<key>延安</key>
	<string>YANAN</string>
	<key>延边</key>
	<string>YANBIAN</string>
	<key>盐城</key>
	<string>YANCHENG</string>
	<key>阳江</key>
	<string>YANGJIANG</string>
	<key>阳泉</key>
	<string>YANGQUAN</string>
	<key>扬州</key>
	<string>YANGZHOU</string>
	<key>延吉</key>
	<string>YANJI</string>
	<key>烟台</key>
	<string>YANTAI</string>
	<key>兖州</key>
	<string>YANZHOU</string>
	<key>宜宾</key>
	<string>YIBIN</string>
	<key>宜昌</key>
	<string>YICHANG</string>
	<key>宜春</key>
	<string>YICHUN</string>
	<key>伊春</key>
	<string>YICHUN1</string>
	<key>伊犁</key>
	<string>YILI</string>
	<key>银川</key>
	<string>YINCHUAN</string>
	<key>营口</key>
	<string>YINGKOU</string>
	<key>鹰潭</key>
	<string>YINGTAN</string>
	<key>伊宁</key>
	<string>YINING</string>
	<key>义乌</key>
	<string>YIWU</string>
	<key>宜兴</key>
	<string>YIXING</string>
	<key>益阳</key>
	<string>YIYANG</string>
	<key>永康</key>
	<string>YONGKANG</string>
	<key>永州</key>
	<string>YONGZHOU</string>
	<key>岳阳</key>
	<string>YUEYANG</string>
	<key>玉环</key>
	<string>YUHUAN</string>
	<key>榆林</key>
	<string>YULIN1</string>
	<key>玉林</key>
	<string>YULIN</string>
	<key>余姚</key>
	<string>YUYAO</string>
	<key>枣庄</key>
	<string>ZAOZHUANG</string>
	<key>增城</key>
	<string>ZENGCHENG</string>
	<key>长春</key>
	<string>CHANGCHUN</string>
	<key>长海</key>
	<string>CHANGHAI</string>
	<key>张家港</key>
	<string>ZHANGJIAGANG</string>
	<key>张家界</key>
	<string>ZHANGJIAJIE</string>
	<key>张家口</key>
	<string>ZHANGJIAKOU</string>
	<key>长乐</key>
	<string>CHANGLE</string>
	<key>章丘</key>
	<string>ZHANGQIU</string>
	<key>长沙</key>
	<string>CHANGSHA</string>
	<key>张掖</key>
	<string>ZHANGYE</string>
	<key>长治</key>
	<string>CHANGZHI</string>
	<key>漳州</key>
	<string>ZHANGZHOU</string>
	<key>湛江</key>
	<string>ZHANJIANG</string>
	<key>肇东</key>
	<string>ZHAODONG</string>
	<key>肇庆</key>
	<string>ZHAOQING</string>
	<key>昭通</key>
	<string>ZHAOTONG</string>
	<key>郑州</key>
	<string>ZHENGZHOU</string>
	<key>镇江</key>
	<string>ZHENJIANG</string>
	<key>中山</key>
	<string>ZHONGSHAN</string>
	<key>周口</key>
	<string>ZHOUKOU</string>
	<key>舟山</key>
	<string>ZHOUSHAN</string>
	<key>诸城</key>
	<string>ZHUCHENG</string>
	<key>珠海</key>
	<string>ZHUHAI</string>
	<key>诸暨</key>
	<string>ZHUJI</string>
	<key>驻马店</key>
	<string>ZHUMADIAN</string>
	<key>株洲</key>
	<string>ZHUZHOU</string>
	<key>淄博</key>
	<string>ZIBO</string>
	<key>自贡</key>
	<string>ZIGONG</string>
	<key>遵义</key>
	<string>ZUNYI</string>
	<key>乌鲁木齐</key>
	<string>WULUMUQI</string>
	<key>福清</key>
	<string>FUQING</string>
	<key>鄂州</key>
	<string>EZHOU</string>
	<key>包头</key>
	<string>BAOTOU</string>
	<key>萧山</key>
	<string>XIAOSHAN</string>
	<key>宣化</key>
	<string>XUANHUA</string>
	<key>江油</key>
	<string>JIANGYOU</string>
	<key>资阳</key>
	<string>ZIYANG</string>
	<key>辛集</key>
	<string>XINJI</string>
	<key>万州</key>
	<string>WANZHOU</string>
	<key>邹城</key>
	<string>ZOUCHENG</string>
	<key>邵武</key>
	<string>SHAOWU</string>
	<key>姜堰</key>
	<string>JIANGYAN</string>
	<key>湘阴</key>
	<string>XIANGYIN</string>
	<key>松江</key>
	<string>SONGJIANG</string>
	<key>七台河</key>
	<string>QITAIHE</string>
	<key>醴陵</key>
	<string>LILING</string>
	<key>涪陵</key>
	<string>FULING</string>
	<key>公主岭</key>
	<string>GONGZHULING</string>
	<key>歙县</key>
	<string>SHEXIAN</string>
	<key>兴化</key>
	<string>XINGHUA</string>
</dict>
</plist>
